/* =========== HEADER ============ */
nav .list-menu.active{
    color: var(--green);
    border-bottom: 5px solid var(--green);
}

/*=========== BANNER =============*/
.banner {
    background-image: url("https://1.bp.blogspot.com/-bPNwQY9-6bk/YS6ihRK-pxI/AAAAAAAAu8Y/McS9OLXUFSY8pBNgA_aIwAagiw9JRV_4QCLcBGAsYHQ/s704/12.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.banner .name {
    font-size: 6rem;
    color: var(--white);
    margin-bottom: 2rem;
    font-family: var(--logo-font);
}


/*=========== ABOUT =============*/
.title-panda {
    font-size: 5rem;
    color: var(--black);
    margin-top: 5rem;
    font-family: var(--logo-font);
}

.text-panda {
    font-size: 2rem;
    font-family: var(--text-font);
    margin-top: 5rem;
}

.curiosity-column-left {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-panda-left {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 8rem;
    width: 80%;
    align-items: center;
}

.text-panda-left p,
.text-panda-left-3 p {
    font-size: 1.8rem;
    font-family: var(--text-font);
    margin-right: 2rem;
    text-align: justify;
}

.gif-panda-left {
    display: grid;
    align-content: center;
}

.text-panda-left-3 {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 8rem;
    width: 80%;
    align-items: center;
}

.curiosity-column-right {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25rem;
}


.text-panda-right {
    display: flex;
    margin-bottom: 3rem;
    align-items: center;
}

.title-panda-right {
    font-size: 5rem;
    color: var(--black);
    margin-top: 5rem;
    font-family: var(--logo-font);
    margin-left: 25rem;
}


.text-panda-right p {
    font-size: 1.8rem;
    font-family: var(--text-font);
    margin-right: 2rem;
    text-align: justify;
}

.gif-panda-right {
    display: grid;
    align-content: center;
}

